<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <% @debate.users.each do |user| %>
  	<%= user.email %>
  <% end %>
</p>

<p>
  <strong>Argument:</strong>
  <%= @debate.arguments %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @debate.topic.title %>
</p>

<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
